/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}

.flex {
  display: flex;
}

.justify-csb {
  justify-content: space-between;
}

.justify-csa {
  justify-content: space-around;
}

.bg-color {
  background-color: #f5f5f5;
}

.bg-yellow {
  background-color: #ffb128;
}

.aline-items-c {
  align-items: center;
}

/*general classes end*/
header .header-inner-wrapper {
  display: flex;
  gap: 40px;
  padding-block: 24px;
}
header .header-inner-wrapper .logo {
  font-size: 32px;
}
header .header-inner-wrapper form {
  border-radius: 6px;
  padding: 12px 0px 12px 16px;
  gap: 12px;
  flex-grow: 1;
}
header .header-inner-wrapper form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
}
header .header-inner-wrapper .cta-wrapper {
  gap: 15px;
}
header .header-inner-wrapper .cta-wrapper img {
  width: 20px;
}
header nav {
  text-transform: capitalize;
}
header nav ul {
  gap: 8px;
}
header nav ul li {
  border-right: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
header nav ul li:last-child {
  padding: 15px 63px;
  color: #f5f5f5;
  border-radius: 3px 3px 0 0;
}

.principal-bg {
  position: absolute;
  width: 100%;
  height: 100% px;
  background-color: #0b3954;
  transform: translateY(30px);
  border-radius: 20px;
}
.principal-bg .principal-picture {
  position: relative;
  transform: translate(50%);
  z-index: 10;
  transform: translateY(38px);
}
.principal-bg .principal-picture img {
  border-radius: 20px;
}
.principal-bg .principal-picture .ring-container {
  position: absolute;
  top: 42%;
  left: 66%;
}
.principal-bg .principal-picture .ring-container-desk {
  position: absolute;
  top: 70%;
  left: 40%;
}
.principal-bg .principal-picture .ring-container-chair {
  position: absolute;
  top: 66%;
  left: 80%;
}

.ring-container {
  position: relative;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #ffb128;
  border-radius: 50%;
  position: absolute;
  top: 21px;
  left: 21px;
}
.circle .plus {
  position: absolute;
  color: #FFFFFF;
  top: 4px;
  right: 8px;
}

.ringring {
  border: 3px solid rgba(255, 255, 255, 0.3843137255);
  border-radius: 70px;
  height: 70px;
  width: 70px;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */