/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}

.flex {
  display: flex;
}

.flex-dir-clm {
  flex-direction: column;
}

.justify-csb {
  justify-content: space-between;
}

.justify-csa {
  justify-content: space-around;
}

.justify-cc {
  justify-content: center;
}

.justify-se {
  justify-content: space-evenly;
}

.bg-color {
  background-color: #f5f5f5;
}

.bg-yellow {
  background-color: #ffb128;
}

.aline-items-c {
  align-items: center;
}

.aline-items-fa {
  align-items: flex-end;
}

/*general classes end*/
header .header-inner-wrapper {
  display: flex;
  gap: 40px;
  padding-block: 24px;
}
header .header-inner-wrapper .logo {
  font-size: 32px;
}
header .header-inner-wrapper form {
  border-color: #000;
  border-radius: 6px;
  padding: 10px 0px 10px 16px;
  gap: 12px;
  flex-grow: 1;
}
header .header-inner-wrapper form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
}
header .header-inner-wrapper .cta-wrapper {
  gap: 15px;
}
header .header-inner-wrapper .cta-wrapper img {
  width: 20px;
}
header nav {
  text-transform: capitalize;
}
header nav ul {
  gap: 8px;
}
header nav ul li {
  color: #0b3954;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
header nav ul li:last-child {
  padding: 15px 63px;
  color: #f5f5f5;
  border-radius: 3px 3px 0 0;
}

.title-wrapper {
  position: absolute;
  color: #f5f5f5;
  top: 52px;
  left: 50px;
}
.title-wrapper span {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.title-wrapper h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 36px;
}
.title-wrapper .button-wrapper {
  gap: 28px;
}
.title-wrapper .button-wrapper button {
  font-size: 14px;
  font-weight: 600;
  padding: 11px 30px;
  border-radius: 45px;
  border: none;
  background-color: #ffb128;
  color: #f5f5f5;
}
.title-wrapper .button-wrapper :last-child {
  background-color: #f5f5f5;
  color: #ffb128;
}

.main-section {
  background-color: rgb(0, 0, 0);
  height: 774px;
}
.main-section .principal-bg {
  width: 100%;
  height: 100% px;
  background-color: #0b3954;
  transform: translateY(30px);
  border-radius: 20px;
}
.main-section .principal-bg .principal-picture {
  position: relative;
  transform: translate(50%);
  z-index: 10;
  transform: translateY(38px);
}
.main-section .principal-bg .principal-picture img {
  border-radius: 20px;
  width: 100%;
}
.main-section .principal-bg .principal-picture .ring-container {
  position: absolute;
  top: 42%;
  left: 70%;
}
.main-section .principal-bg .principal-picture .ring-container-desk {
  position: absolute;
  top: 70%;
  left: 42%;
}
.main-section .principal-bg .principal-picture .ring-container-chair {
  position: absolute;
  top: 66%;
  left: 84%;
}

.products-section {
  margin-block: 100px;
}
.products-section .product-statistic p {
  color: #0b3954;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}
.products-section .product-statistic span {
  font-size: 48px;
  font-weight: 600;
  color: #ffb128;
  display: inline-block;
  margin-bottom: 5px;
}
.products-section .product-statistic h2 {
  font-size: 48px;
  font-weight: 700;
  color: #0b3954;
}

.realisation-product-wrapper {
  gap: 104px;
}
.realisation-product-wrapper .realisation-product,
.realisation-product-wrapper .realisation-year {
  position: relative;
  top: 50%;
  margin-right: 40px;
  color: #0b3954;
  font-size: 24px;
  font-weight: 700;
}
.realisation-product-wrapper .realisation-product ::before,
.realisation-product-wrapper .realisation-year ::before {
  content: "";
  position: absolute;
  background: #ffb128;
  width: 22px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  left: -30px;
}

.category-wrapper {
  margin-bottom: 100px;
}
.category-wrapper li a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  border-radius: 32px;
  gap: 30px;
  padding: 30px 50px;
  background-color: #f9f9f9;
  color: #0b3954;
  font-size: 20px;
  font-weight: 600;
}
.category-wrapper :hover {
  background-color: #f0f0f0;
  transform: scale(1.03);
  transition: all 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
}

.main-category {
  color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  height: 600px;
  width: 32%;
  padding-bottom: 70px;
  padding-left: 40px;
}
.main-category span {
  font-size: 16px;
  font-weight: 400;
}
.main-category h3 {
  font-size: 48px;
  font-weight: 700;
}

.badroom {
  background-image: url(../img/bedroom-category.png);
}

.office {
  background-image: url(../img/office.png);
}

.kitchen {
  background-image: url(../img/kitchen.png);
}

.rect {
  background: #ffb128;
  width: 22px;
  height: 7px;
}

.decor-wrapper {
  margin-top: 100px;
}
.decor-wrapper .get-ready {
  padding-left: 85px;
}
.decor-wrapper .get-ready span {
  font-size: 12px;
  font-weight: 600;
  color: #0b3954;
  margin-bottom: 20px;
  display: inline-block;
}
.decor-wrapper .get-ready h4 {
  font-size: 48px;
  font-weight: 700;
  color: #0b3954;
  margin-bottom: 30px;
}
.decor-wrapper .get-ready p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #5c676d;
}
.decor-wrapper .get-ready button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 35px;
  background: #ffb128;
  color: #f5f5f5;
  border: none;
  border-radius: 80px;
}

.ring-container {
  position: relative;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #ffb128;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 23px;
}
.circle .plus {
  position: absolute;
  color: #FFFFFF;
  top: 4px;
  right: 8px;
}

.ringring {
  border: 3px solid rgba(255, 255, 255, 0.3843137255);
  border-radius: 70px;
  height: 70px;
  width: 70px;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */