/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}

.flex {
  display: flex;
}

.flex-dir-clm {
  flex-direction: column;
}

.justify-csb {
  justify-content: space-between;
}

.justify-csa {
  justify-content: space-around;
}

.justify-cc {
  justify-content: center;
}

.justify-se {
  justify-content: space-evenly;
}

.aline-items-c {
  align-items: center;
}

.aline-items-fa {
  align-items: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-color {
  background-color: #f5f5f5;
}

.bg-yellow {
  background-color: #ffb128;
}

.bg-white {
  background-color: White;
}

/*general classes end*/
header .header-inner-wrapper {
  gap: 40px;
  padding-block: 24px;
  display: flex;
}
header .header-inner-wrapper .logo {
  font-size: 32px;
}
header .header-inner-wrapper form {
  border-color: #000;
  border-radius: 6px;
  padding: 10px 0px 10px 16px;
  gap: 12px;
  flex-grow: 1;
}
header .header-inner-wrapper form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
}
header .cta-wrapper {
  gap: 25px;
}
header .cta-wrapper .icon-with-badge {
  position: relative;
  width: 20px;
}
header .cta-wrapper .icon-with-badge .badge {
  font-size: 12px;
  width: 18px;
  height: 18px;
  background-color: #333333;
  color: #f5f5f5;
  border-radius: 50%;
  top: -10px;
  right: -11px;
  text-align: center;
  align-content: center;
  position: absolute;
  display: inline-block;
}
header .cta-wrapper .icon-with-badge img {
  display: block;
  width: 100%;
  height: 20px;
}
header .navigation {
  text-transform: capitalize;
}
header .navigation .navigation-element-wrapper {
  gap: 8px;
}
header .navigation .navigation-element-wrapper .navigation-element {
  padding: 10px 30px;
  color: #0b3954;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #f5f5f5;
  gap: 10px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
}
@media (max-width: 1366px) {
  header .navigation .navigation-element-wrapper .navigation-element {
    padding: 15px 30px;
  }
}
header .navigation .navigation-element-wrapper .navigation-element span {
  padding: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
header .navigation .navigation-element-wrapper .navigation-element span:hover {
  background-color: inherit;
  color: #ffb128;
  transform: scale(1.01);
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper {
  left: 0;
  top: 87px;
  background-color: #f5f5f5;
  z-index: 15;
  transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-menu-wrapper {
  padding: 40px 30px;
  background: White;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-navigation {
  padding-right: 20px;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-navigation .drop-down-menu {
  gap: 45px;
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-navigation .drop-down-menu:hover {
  background-color: inherit;
  color: #ffb128;
  transform: scale(1.01);
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-navigation .drop-down-menu span {
  display: inline-block;
  font-size: 12px;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .drop-down-navigation .drop-down-menu img {
  width: 12px;
  height: 12px;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper {
  box-shadow: rgba(6, 6, 21, 0.134) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 40px 30px;
  position: relative;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper .recommend {
  font-size: 12px;
  font-weight: 600;
  color: #0b3954;
  margin-top: 30px;
  display: inline-block;
  color: #0089f7;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper h4 {
  font-size: 28px;
  font-weight: 500;
  margin-top: 44px;
  color: #0b3954;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper p {
  margin-top: 15px;
  min-width: 386px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper .price {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper .img-wrapper {
  height: auto;
  position: absolute;
  transform: translate(50%, -28%);
  top: 70%;
  right: 0;
}
header .navigation .navigation-element-wrapper .navigation-element .drop-down-wrapper .recommend-wrapper .img-wrapper img {
  width: 180px;
}
header .navigation .navigation-element-wrapper .navigation-element:hover .drop-down-wrapper {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
header .navigation .navigation-element-wrapper .star-child {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 15px 62px;
  color: #f5f5f5;
  border-radius: 3px 3px 0 0;
}
header .navigation .navigation-element-wrapper .star-child:hover {
  background-color: #0b3954;
  color: #f5f5f5;
  transform: scale(1.03);
}
@media (max-width: 1366px) {
  header .navigation .navigation-element-wrapper .star-child {
    padding: 15px 40px;
  }
}

.title-wrapper {
  position: absolute;
  color: #f5f5f5;
  top: 52px;
  left: 50px;
}
.title-wrapper span {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.title-wrapper h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 36px;
}

.main-section {
  box-shadow: rgba(6, 6, 21, 0.134) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: rgba(0, 0, 0, 0.037);
  height: 774px;
}
.main-section .principal-bg {
  width: 100%;
  height: auto;
  background-color: #0b3954;
  transform: translateY(30px);
  border-radius: 20px;
}
.main-section .principal-bg .principal-picture {
  position: relative;
  transform: translate(50%);
  z-index: 10;
  transform: translateY(38px);
}
.main-section .principal-bg .principal-picture img {
  border-radius: 20px;
  width: 100%;
}
.main-section .principal-bg .principal-picture .ring-container {
  position: absolute;
  top: 42%;
  left: 70%;
}
.main-section .principal-bg .principal-picture .ring-container .progress-bar {
  padding: 10px 30px 20px 30px;
  background-color: White;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  display: none;
  margin-bottom: 50%;
}
.main-section .principal-bg .principal-picture .ring-container:hover .progress-bar {
  transform: scale(1.05);
  display: block;
}
.main-section .principal-bg .principal-picture .ring-container-desk {
  position: absolute;
  top: 70%;
  left: 42%;
}
.main-section .principal-bg .principal-picture .ring-container-chair {
  position: absolute;
  top: 66%;
  left: 84%;
}

.products-section {
  margin-block: 100px;
}
.products-section .product-statistic p {
  color: #0b3954;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}
.products-section .product-statistic span {
  font-size: 48px;
  font-weight: 600;
  color: #ffb128;
  display: inline-block;
  margin-bottom: 5px;
}
.products-section .product-statistic h2 {
  font-size: 48px;
  font-weight: 700;
  color: #0b3954;
}

.realisation-product-wrapper {
  gap: 104px;
}
.realisation-product-wrapper .realisation-product,
.realisation-product-wrapper .realisation-year {
  position: relative;
  top: 50%;
  margin-right: 40px;
  color: #0b3954;
  font-size: 24px;
  font-weight: 700;
}
.realisation-product-wrapper .realisation-product ::before,
.realisation-product-wrapper .realisation-year ::before {
  content: "";
  position: absolute;
  background: #ffb128;
  border-radius: 12px;
  width: 22px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  left: -30px;
}

.category-wrapper {
  margin-bottom: 100px;
}
@media (max-width: 1366px) {
  .category-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.category-wrapper li a {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  border-radius: 32px;
  gap: 30px;
  padding: 30px 50px;
  background-color: #f9f9f9;
  color: #0b3954;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
.category-wrapper li a:hover {
  background-color: #f0f0f0;
  transform: scale(1.03);
  border-radius: 32px;
}
@media (max-width: 1366px) {
  .category-wrapper li a {
    padding: 25px 34px;
    gap: 22px;
  }
}

.main-category {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 32px;
  height: 700px;
  width: 33%;
  padding-bottom: 70px;
  padding-left: 40px;
  color: White;
}
.main-category span {
  font-size: 16px;
  font-weight: 400;
}
.main-category h3 {
  font-size: 48px;
  font-weight: 700;
  margin: 20px 0;
  transition: transform 0.2s ease;
  cursor: pointer;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main-category h3:hover {
  transform: translateY(-6px);
}

.badroom {
  background-image: url(../img/bedroom-category.png);
}

.office {
  background-image: url(../img/office.png);
}

.kitchen {
  background-image: url(../img/kitchen.png);
}

.rect {
  background: #ffb128;
  width: 22px;
  height: 7px;
}

.decor-wrapper {
  margin-top: 100px;
}
@media (max-width: 1366px) {
  .decor-wrapper img {
    width: 600px;
  }
}
.decor-wrapper .get-ready {
  padding-left: 85px;
}
.decor-wrapper .get-ready span {
  font-size: 12px;
  font-weight: 600;
  color: #0b3954;
  margin-bottom: 20px;
  display: inline-block;
}
.decor-wrapper .get-ready h4 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #0b3954;
}
.decor-wrapper .get-ready p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.1);
}
.decor-wrapper .get-ready button {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 35px;
  background: #ffb128;
  color: #f5f5f5;
  border: none;
  border-radius: 80px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.decor-wrapper .get-ready button:hover {
  background-color: #0b3954;
  color: #f5f5f5;
  transform: scale(1.03);
  border-radius: 32px;
}

.ring-container {
  position: relative;
  cursor: pointer;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #ffb128;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 23px;
}

.plus {
  position: absolute;
  color: #ffffff;
  top: 4px;
  right: 8px;
}

.ringring {
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.3843137255);
  border-radius: 70px;
  height: 70px;
  width: 70px;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.button-wrapper {
  gap: 28px;
}
.button-wrapper .animated-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 11px 30px;
  border-radius: 45px;
  border: none;
  background-color: #ffb128;
  color: #f5f5f5;
  transition-duration: 0.1s;
  cursor: pointer;
}
.button-wrapper .animated-btn:hover {
  background-color: #f5f5f5;
  color: #ffb128;
  transform: scale(1.03);
}
.button-wrapper .see-collection {
  background-color: #f5f5f5;
  color: #ffb128;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 30px;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button-wrapper .see-collection:hover {
  background-color: #ffb128;
  color: #f5f5f5;
  transform: scale(1.03);
}

body {
  margin: 0;
  font-family: sans-serif;
}
body .sticky-wrapper {
  position: fixed;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}
body .sticky-wrapper .blinking {
  top: 10px;
  height: 65px;
  width: 65px;
  color: #f5f5f5;
  background-color: rgb(23, 22, 22);
  text-align: center;
  display: flex;
  cursor: pointer;
}
body .sticky-wrapper .blinking .blinking-js {
  align-self: center;
}
body .sticky-wrapper .sticky-box {
  height: 65px;
  width: 65px;
  background-color: #80b541;
  color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  opacity: 2;
  transition: opacity 1s ease-in-out;
}
body .sticky-wrapper .sticky-box span {
  animation: demoflash 4s ease infinite;
}
body .sticky-wrapper .sticky-box a img {
  height: 26px;
  width: 27px;
}
body .sticky-wrapper .sticky-box .text {
  display: flex;
  align-self: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */