@use "../abstracts/" as *;
@use "../utilities/" as *;

/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}
.flex {
  display: flex;
}
.flex-dir-clm {
  flex-direction: column;
}
.justify-csb {
  justify-content: space-between;
}
.justify-csa {
  justify-content: space-around;
}
.justify-cc {
  justify-content: center;
}
.justify-se {
  justify-content: space-evenly;
}
.bg-color {
  background-color: $colorwhite;
}
.bg-yellow {
  background-color: $coloryellow;
}
.aline-items-c {
  align-items: center;
}
.aline-items-fa {
  align-items: flex-end;
}

/*general classes end*/

header {
  .header-inner-wrapper {
    @include flex;
    gap: 40px;
    padding-block: 24px;
    .logo {
      font-size: 32px;
    }

    form {
      border-color: #000;
      border-radius: 6px;
      padding: 10px 0px 10px 16px;
      gap: 12px;
      flex-grow: 1;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 90%;
      }
    }
    .cta-wrapper {
      gap: 15px;
      img {
        width: 20px;
      }
    }
  }
  nav {
    text-transform: capitalize;
    ul {
      gap: 8px;
      li {
        color: $colorBlue;

        font-size: 14px;
        font-weight: 500;
        border-right: 1px solid $colorwhite;
        @include flex;
        @include flex-dir-clm;
        @include aline-items-c;
        gap: 4px;
      }
      li:last-child {
        padding: 15px 63px;
        color: $colorwhite;
        border-radius: 3px 3px 0 0;
      }
    }
  }
}

.title-wrapper {
  position: absolute;
  color: $colorWhite;
  top: 52px;
  left: 50px;
  span {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 36px;
  }

  .button-wrapper {
    gap: 28px;
    button {
      font-size: 14px;
      font-weight: 600;
      padding: 11px 30px;
      border-radius: 45px;
      border: none;
      background-color: $coloryellow;
      color: $colorwhite;
    }
    :last-child {
      background-color: $colorWhite;
      color: $coloryellow;
    }
  }
  // არ დამისრულებია
  .animated-btn {
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .animated-btn:active {
    transform: scale(0.95);
  }

  // აქამდე
}
.main-section {
  background-color: rgb(0, 0, 0);
  height: 774px;
  .principal-bg {
    width: 100%;
    height: 100%px;
    color: $colorblue;

    transform: translateY(30px);
    border-radius: 20px;

    .principal-picture {
      position: relative;
      transform: translate(50%);
      z-index: 10;
      transform: translateY(38px);
      img {
        border-radius: 20px;
        width: 100%;
      }
      .ring-container {
        position: absolute;
        top: 42%;
        left: 70%;
      }
      .ring-container-desk {
        position: absolute;
        top: 70%;
        left: 42%;
      }
      .ring-container-chair {
        position: absolute;
        top: 66%;
        left: 84%;
      }
    }
  }
}

.products-section {
  margin-block: 100px;
  .product-statistic {
    p {
      color: $colorBlue;
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 600;
    }
    span {
      font-size: 48px;
      font-weight: 600;
      color: $coloryellow;
      display: inline-block;
      margin-bottom: 5px;
    }
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $colorBlue;
    }
  }
}

.realisation-product-wrapper {
  gap: 104px;
  .realisation-product,
  .realisation-year {
    position: relative;
    top: 50%;
    margin-right: 40px;
    color: $colorblue;

    font-size: 24px;
    font-weight: 700;
    ::before {
      content: "";
      position: absolute;
      background: $coloryellow;
      width: 22px;
      height: 7px;
      top: 50%;
      transform: translateY(-50%) translateX(-100%);
      left: -30px;
    }
  }
}
.category-wrapper {
  margin-bottom: 100px;
  li {
    a {
      text-decoration: solid;
      border-radius: 32px;
      gap: 30px;
      padding: 30px 50px;
      background-color: $bgColor;
      color: $colorBlue;
      font-size: 20px;
      font-weight: 600;
    }
  }
  :hover {
    background-color: $colorWhiteBg;
    transform: scale(1.03);
    transition: all 0.3s ease;
    border-radius: 6px;
    cursor: pointer;
  }
}

.main-category {
  color: $colorWhite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px;
  height: 600px;
  width: 32%;
  padding-bottom: 70px;
  padding-left: 40px;
  span {
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    font-size: 48px;
    font-weight: 700;
  }
}

.badroom {
  background-image: url(../img/bedroom-category.png);
}
.office {
  background-image: url(../img/office.png);
}
.kitchen {
  background-image: url(../img/kitchen.png);
}
.rect {
  background: $coloryellow;
  width: 22px;
  height: 7px;
}
.decor-wrapper {
  margin-top: 100px;
  .get-ready {
    padding-left: 85px;

    span {
      font-size: 12px;
      font-weight: 600;
      color: $colorBlue;
      margin-bottom: 20px;
      display: inline-block;
    }
    h4 {
      font-size: 48px;
      font-weight: 700;
      color: $colorBlue;

      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      color: #5c676d;
    }
    button {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 35px;
      background: $coloryellow;
      color: $colorwhite;
      border: none;
      border-radius: 80px;
    }
  }
}
