/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}
.flex {
  display: flex;
}
.justify-csb {
  justify-content: space-between;
}
.justify-csa {
  justify-content: space-around;
}
.bg-color {
  background-color: #f5f5f5;
}
.bg-yellow {
  background-color: #ffb128;
}
.aline-items-c {
  align-items: center;
}

/*general classes end*/

header {
  .header-inner-wrapper {
    display: flex;
    gap: 40px;
    padding-block: 24px;
    .logo {
      font-size: 32px;
    }

    form {
      border-radius: 6px;
      padding: 12px 0px 12px 16px;
      gap: 12px;
      flex-grow: 1;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 90%;
      }
    }
    .cta-wrapper {
      gap: 15px;
      img {
        width: 20px;
      }
    }
  }
  nav {
    text-transform: capitalize;
    ul {
      gap: 8px;
      li {
        border-right: 1px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }
      li:last-child {
        padding: 15px 63px;
        color: #f5f5f5;
        border-radius: 3px 3px 0 0;
      }
    }
  }
}

.principal-bg {
  position: absolute;
  width: 100%;
  height: 100%px;
  background-color: #0b3954;
  transform: translateY(30px);
  border-radius: 20px;

  .principal-picture {
    position: relative;
    transform: translate(50%);
    z-index: 10;
    transform: translateY(38px);
    img {
      border-radius: 20px;
    }
    .ring-container {
      position: absolute;
      top: 42%;
      left: 66%;
      
    }
    .ring-container-desk {
      position: absolute;
      top: 70%;
      left: 40%;
      
    }
    .ring-container-chair {
        position: absolute;
        top: 66%;
        left: 80%;

      }
  }
}
