@use "../abstracts/index" as *;
@use "../utilities/" as *;

/*general classes start*/
.container {
  max-width: 1240px;
  margin-inline: auto;
  width: 90%;
}
.flex {
  @include flex;
}
.flex-dir-clm {
  @include flex-dir-clm;
}
.justify-csb {
  @include justify-csb;
}
.justify-csa {
  @include justify-csa;
}
.justify-cc {
  @include justify-cc;
}
.justify-se {
  @include justify-se;
}
.aline-items-c {
  @include aline-items-c;
}
.aline-items-fa {
  @include aline-items-fa;
}
.relative {
  @include relative;
}
.absolute {
  @include absolute;
}

.bg-color {
  background-color: $colorWhite;
}
.bg-yellow {
  background-color: $coloryellow;
}
.bg-white {
  background-color: $PureWhite;
}
.bg-dark-mode {
  background-color: rgba(4, 4, 4, 0.727);
}
/*general classes end*/

body.bg-dark-mode {
  .navigation {
    .navigation-element-wrapper {
      .navigation-element {
        span {
          color: azure;
        }
      }
    }
  }
}

header {
  .header-inner-wrapper {
    gap: 40px;
    padding-block: 24px;
    @include flex;
    .logo {
      font-size: 32px;
    }

    form {
      border-color: $PureBlack;
      border-radius: 6px;
      padding: 10px 0px 10px 16px;
      gap: 12px;
      flex-grow: 1;
      input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 90%;
      }
    }
  }
  .cta-wrapper {
    gap: 25px;
    .icon-with-badge {
      @include relative;
      width: 20px;
      .badge {
        font-size: 12px;
        width: 18px;
        height: 18px;
        background-color: $Charcoal;
        color: $colorWhite;
        border-radius: 50%;
        top: -10px;
        right: -11px;
        @include center-text-and-content;
        @include absolute;
        @include inline-blk;
      }
    }
    .icon-with-badge img {
      @include display(block);
      width: 100%;
      height: 20px;
    }
  }

  .navigation {
    text-transform: capitalize;
    .navigation-element-wrapper {
      gap: 8px;
      .navigation-element {
        padding: 10px 30px;
        color: $colorBlue;
        font-size: 14px;
        font-weight: 500;
        border-right: 1px solid $colorWhite;
        gap: 10px;
        @include relative;
        @include flex-dir-clm;
        @include flex;
        @include aline-items-c;
        @include media(xl) {
          padding: 15px 30px;
        }
        span {
          padding: 5px;
          @include text-hover;
        }
        .drop-down-wrapper {
          .drop-down-menu-wrapper {
            padding: 40px 30px;
            background: $PureWhite;
          }
          .drop-down-navigation {
            padding-right: 20px;

            .drop-down-menu {
              gap: 45px;
              padding: 10px 0;
              border-bottom: 1px solid $colorWhite;
              @include text-hover;
              @include flex;
              @include justify-csb;
              span {
                @include inline-blk;
                font-size: 12px;
              }
              img {
                width: 12px;
                height: 12px;
              }
            }
          }
          .recommend-wrapper {
            box-shadow: $shadowInset;
            padding: 40px 30px;
            @include relative;
            .recommend {
              font-size: 12px;
              font-weight: 600;
              color: $colorBlue;
              margin-top: 30px;
              @include inline-blk;
              color: $bluePrimary;
            }
            h4 {
              font-size: 28px;
              font-weight: 500;
              margin-top: 44px;
              color: $colorBlue;
            }
            p {
              margin-top: 15px;
              min-width: 386px;
              font-size: 16px;
              font-weight: 300;
              color: $Charcoal;
            }
            .price {
              @include inline-blk;
              font-size: 20px;
              font-weight: 600;
              margin-top: 60px;
            }
            .img-wrapper {
              height: auto;
              @include absolute;
              transform: translate(50%, -28%);
              top: 70%;
              right: 0;
              img {
                width: 180px;
              }
            }
          }
          left: 0;
          top: 87px;
          background-color: $colorWhite;
          z-index: 15;
          transition-duration: 0.3s;
          @include hidden;
          @include absolute;
        }
        @include show-on-hover(".drop-down-wrapper");
      }
      .star-child {
        @include mode-hover;
        padding: 15px 62px;
        color: $colorWhite;
        border-radius: 3px 3px 0 0;
        @media (max-width: 1366px) {
          padding: 15px 40px;
        }
      }
    }
  }
}

.title-wrapper {
  @include absolute;
  color: $colorWhite;
  top: 52px;
  left: 50px;
  span {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    @include inline-blk;
  }
  h1 {
    font-size: clamp(1.5rem, 3.5vw, 4.5rem);
    font-weight: 700;
    margin-bottom: 36px;
  }
}
.main-section {
  box-shadow: $shadowInset;
  background-color: $blar;
  height: 774px;
  @include media(xl) {
    box-shadow: unset;
    background-color: transparent;
    height: auto;
  }

  .principal-bg {
    width: 100%;
    height: auto;
    background-color: $colorBlue;
    transform: translateY(30px);
    border-radius: 20px;

    .principal-picture {
      @include relative;
      transform: translate(50%);
      z-index: 10;
      transform: translateY(38px);
      img {
        border-radius: 20px;
        width: 100%;
      }
      .ring-container {
        @include absolute;
        top: 42%;
        left: 70%;
        .progress-bar {
          padding: 10px 30px 20px 30px;
          background-color: $PureWhite;
          border-radius: 20px;
          width: 250px;
          height: 250px;
          display: none;
          margin-bottom: 50%;
        }
        &:hover {
          .progress-bar {
            transform: scale(1.05);
            display: block;
          }
        }
      }
      .ring-container-desk {
        @include absolute;
        top: 70%;
        left: 42%;
      }
      .ring-container-chair {
        @include absolute;
        top: 66%;
        left: 84%;
      }
    }
  }
}

.products-section {
  margin-block: 100px;
  .product-statistic {
    p {
      color: $colorBlue;
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 600;
    }
    span {
      font-size: 48px;
      font-weight: 600;
      color: $coloryellow;
      @include inline-blk;
      margin-bottom: 5px;
    }
    h2 {
      font-size: 48px;
      font-weight: 700;
      color: $colorBlue;
    }
  }
}

.realisation-product-wrapper {
  gap: 104px;
  .realisation-product,
  .realisation-year {
    @include relative;
    top: 50%;
    margin-right: 40px;
    color: $colorBlue;

    font-size: 24px;
    font-weight: 700;
    ::before {
      content: "";
      @include absolute;
      background: $coloryellow;
      border-radius: 12px;
      width: 22px;
      height: 7px;
      top: 50%;
      transform: translateY(-50%) translateX(-100%);
      left: -30px;
    }
  }
}
.category-wrapper {
  margin-bottom: 100px;

  @include media(xl) {
    flex-wrap: wrap;
    @include justify-csa;
  }

  li {
    a {
      text-decoration: solid;
      border-radius: 32px;
      gap: 30px;
      padding: 30px 50px;
      background-color: $bgColor;
      color: $colorBlue;
      font-size: 20px;
      font-weight: 600;
      @include link-hover;
      @media (max-width: 1366px) {
        padding: 25px 34px;
        gap: 22px;
      }
    }
  }
}

.main-category {
  @include background-cover-fixed;
  border-radius: 32px;
  height: 700px;
  width: 33%;
  padding-bottom: 70px;
  padding-left: 40px;
  color: $PureWhite;

  span {
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
    transition: transform 0.2s ease;
    cursor: pointer;
    @include hover-move-up;
  }
}

.badroom {
  background-image: url(../img/bedroom-category.png);
}
.office {
  background-image: url(../img/office.png);
}
.kitchen {
  background-image: url(../img/kitchen.png);
}
.rect {
  background: $coloryellow;
  width: 22px;
  height: 7px;
}
.decor-wrapper {
  margin-top: 100px;
  img {
    @media (max-width: 1366px) {
      width: 600px;
    }
  }
  .get-ready {
    padding-left: 85px;

    span {
      font-size: 12px;
      font-weight: 600;
      color: $colorBlue;
      margin-bottom: 20px;
      @include inline-blk;
    }
    h4 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 30px;
      color: $colorBlue;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
      color: $white-faint;
    }
    button {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 35px;
      background: $coloryellow;
      color: $colorWhite;
      border: none;
      border-radius: 80px;
      @include button-hover;
    }
  }
}
